body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#flash-container {
    width: 800px;
    height: 600px;
    position: relative;
    background-color: #000;
}
